@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?q8ccls');
  src:  url('fonts/icomoon.eot?q8ccls#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?q8ccls') format('truetype'),
    url('fonts/icomoon.woff?q8ccls') format('woff'),
    url('fonts/icomoon.svg?q8ccls#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-down:before {
  content: "\ea50";
}
